@import "colors"; // helpers

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
}

.flexitem-between {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1,
h2 {
    font-family: 'Lobster', cursive;
}
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}

ul {
    padding: 0;
}

li {
    list-style: none;

    a {
        color: #000;
        text-decoration: none;
        padding: 10px 20px;
    }
}

img {
    height: 100%;
}
// main style

body {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: -21px;
    left: 0;
    font-family: 'Playfair Display', serif;
    margin: 0;
}

#app {
    position: relative;
    max-width: 1440px;
}
// header - nav

#nav {
    // background: linear-gradient( 0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));

    .branding {
        height: 100px;
    }

    .nav-container--links {
        display: flex;
        align-items: center;
    }
}
// Articles

#home {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: no-repeat center url('../img/banner.jpg');
    background-size: cover;

    .quote-container {
        text-align: center;
        line-height: 100vh;
        margin: auto;
        vertical-align: middle;
    }

    .quote {
        color: #fff;
        font-size: 5em;
        text-shadow: 0 0 20px #000;
        margin: 0;
    }
}
