.banner {
    height: calc(100vh - 96px);
    background: no-repeat center url('../img/banner.jpg');
    background-size: cover;
    text-align: center;
    // margin: 0 0 50px;
    h1 {
        line-height: 100vh;
        text-shadow: 0 0 20px #000;
    }
}

.mission {
    margin: 50px 0;
}

.subtext-container {
    align-items: center;
    display: flex;
}

hr.style1 {
    width: 90%;
}
